body {
    background: #F6F6F6;
    text-align: center;
    margin: 0;
}

.main {
    width: 500px;
    margin: 0 auto;
}
.sconceBody {
    background: #554A3C;
    width: 100px;
    height: 300px;
    margin: 30px auto 0;
}

.leftLight,
.rightLight {
    width: 120px;
    height: 120px;
    position: relative;
    border: 10px solid #554A3C;
    display: inline-block;
    top: -243px;
}

.shade {
    background: #E0DFD1;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.night {
    background: #eae7c2;
    margin: 0;
    border: #dace28 10px solid;
}
.blub {
    margin: -10px auto;
    width: 10px;
    height: 10px;
    background: #554A3C;
}

.lightSwitch {
    width: 40px;
    height: 60px;
    margin: 50px auto 0px;
    border: 1px solid #cccccc;
}
.screw {
    width: 3px;
    height: 3px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 3px auto;
}
.switch {
    width: 15px;
    height: 35px;
    border: 1px solid #bfbbbb;
    margin: 3px auto;
}